.footer {
  margin: 0;
}

.footer__copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  margin: 0;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    padding-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    padding-top: 64px;
    line-height: 1;
  }
}
