.header {
  max-width: 254px;
  margin: 0 auto;
}

.header__logo {
  width: 100%;
  padding-top: 34px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-top: 30px;
    height: 66px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 188px;
  }

  .header__logo {
    padding-top: 20px;
    height: 52px;
  }
}
