.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto 0;
}

.lead__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  padding: 0 16px;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  margin: 0;
  max-width: 720px;
  text-align: center;
}

.lead__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 32px 0 0;
}

.lead__image-container {
  max-width: 984px;
  width: 100%;
  margin: 64px 0 0;
}

.lead__image {
  width: 100%;
  padding-bottom: 62.5%;
  background-image: url("../images/wales_coast.png");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
