.photo-grid {
  margin: 118px auto 0;
  padding: 0 48px;
}

.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo-grid__list-item {
  position: relative;
  padding-bottom: 75%; /* 213 รท 284 = 0.75 */
}

.photo-grid__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    margin: 64px auto 0;
    padding: 0 24px;
  }

  .photo-grid__list-item {
    padding-bottom: 75%; /* 264 รท 352 = 0.75 */
  }
}

@media screen and (max-width: 975px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    margin: 38px auto 0;
    padding: 0 16px;
    gap: 0 16px;
  }
}
