.place {
  display: grid;
  grid-template-columns: minmax(320px, 460px) 1fr;
  grid-template-rows: auto minmax(320px, 460px) auto;
  grid-template-areas:
    "title  author"
    "image  description"
    "button description";

  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
}

.place__image-container {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  position: relative;
  padding-bottom: 100%; /* 460 รท 460 = 1 = quadrado */
}

.place__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.place__image:hover {
  cursor: url("../images/cursor-pointer.png"), pointer;
  filter: brightness(0.6);
}

.place__button {
  grid-area: button;
  box-sizing: border-box;
  max-width: 358px;
  max-height: 48px;
  padding-block: 13px;
  padding-inline: 20px;
  /*button style */
  border: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  /*text */
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 100%;
  letter-spacing: 0%;
}

.place__button:hover {
  cursor: url("../images/cursor-pointer-33deg.png"), pointer;
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px 0px #00000040;
}

.place__author {
  grid-area: author;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.place__author-label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.44px;
  color: #aaaaaa;
  margin-bottom: 8px;
}
.place__author-name {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.place__description {
  grid-area: description;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
}
.place__paragraph {
  margin: 0 0 25px 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(320px, 340px) 1fr;
    grid-template-rows: auto minmax(320px, 340px) auto;
  }
  .place__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.09;
  }

  .place__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "author"
      "image"
      "description"
      "button";
    column-gap: 30px;
  }

  .place__title {
    font-size: 32px;
  }

  .place__image-container {
    margin: 0 -16px;
    width: calc(100% + 32px);
    justify-self: center;
  }

  .place__button {
    font-size: 14px;
  }
}
