.places {
  margin: 92px auto 0;
  padding: 0 148px;
}

.places__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 88px auto 0;
    padding: 0 24px;
  }

  .places__list {
    gap: 72px 0;
  }
}

@media screen and (max-width: 544px) {
  .places {
    margin: 62px auto 0;
    padding: 0 16px;
  }
}
