@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-top: 30px;
    height: 66px;
  }

  .lead__title {
    font-size: 75px;
  }

  .lead__subtitle {
    margin: 25px 0 0;
  }

  .lead__image-container {
    margin: 30px 0 0;
  }

  .intro {
    margin-top: 90px;
  }

  .intro__title {
    font-size: 45px;
  }

  .footer__copyright {
    padding-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 188px;
  }

  .header__logo {
    padding-top: 20px;
    height: 52px;
  }

  .lead {
    margin-top: 50px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 0 0;
  }

  .lead__image-container {
    margin: 40px 0 0;
  }

  .intro {
    margin-top: 64px;
    padding: 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 1.24;
  }

  .footer__copyright {
    padding-top: 64px;
    line-height: 1;
  }
}
