@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

.page {
  background-color: rgb(129, 127, 127);
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
