@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

body {
  background-color: #2a2c2f;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  font-size: 16px;
  line-height: 1;
  color: white;
}

.header {
  max-width: 254px;
  margin: 0 auto;
}

.header__logo {
  width: 100%;
  padding-top: 34px;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto 0;
}

.lead__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  padding: 0 16px;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  margin: 0;
  max-width: 720px;
  text-align: center;
}

.lead__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 32px 0 0;
}

.lead__image-container {
  max-width: 984px;
  width: 100%;
  margin: 64px 0 0;
}

.lead__image {
  width: 100%;
  padding-bottom: 62.5%;
  background-image: url("../images/wales_coast.png");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.intro {
  /*   max-width: 984px;
  margin: 92px 302px 0 148px; */
  max-width: 984px;
  margin: 92px auto 0;
  padding: 0 24px;
}

.intro__title {
  max-width: 830px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  margin: 0;
}

.intro__quote {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42;
  margin: 40px 0 0 0;
}

.intro__quote-text {
  max-width: 738px;
  margin: 0;
}

.intro__quote-author {
  max-width: 732px;
  display: block;
  text-align: right;
  margin-top: 10px;
}

.intro__text {
  max-width: 725px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin: 32px 0 0 0;
}

.footer {
  margin: 0;
}

.footer__copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  margin: 0;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-top: 30px;
    height: 66px;
  }

  .lead__title {
    font-size: 75px;
  }

  .lead__subtitle {
    margin: 25px 0 0;
  }

  .lead__image-container {
    margin: 30px 0 0;
  }

  .intro {
    margin-top: 90px;
  }

  .intro__title {
    font-size: 45px;
  }

  .footer__copyright {
    padding-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 188px;
  }

  .header__logo {
    padding-top: 20px;
    height: 52px;
  }

  .lead {
    margin-top: 50px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 0 0;
  }

  .lead__image-container {
    margin: 40px 0 0;
  }

  .intro {
    margin-top: 64px;
    padding: 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 1.24;
  }

  .footer__copyright {
    padding-top: 64px;
    line-height: 1;
  }
}
